<div class="container content">

<div class="card">
    
    <div >
            <h2>Añadir nota:</h2>
            <form class="card card-md">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Texto de la nota..." #titulo>
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                            <input	name="add" class="btn btn-danger"	type="submit" value="Añadir" (click)="agregar(titulo.value)">
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>

</div>          

    <div class="row">
        <app-to-do-element *ngFor="let x of tareas" [tarea]="x"></app-to-do-element>
    </div>

</div>