<div class="card">
    
    <div class="card-header">
        <h5>Nota</h5>
      </div>
      <div class="card-body">
        {{ tarea.nombre }}
        
        <footer class="blockquote-footer">{{ tarea.date }}</footer>
      </div>
    
</div>