/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.css'; 

.card {
    padding: 20px;
    margin: 10px;
}

body {
    background: grey;

}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}